
/* Overview */

.tagline h2{
    font-size: 29px;
    font-weight: 700;
    letter-spacing: .3px;
    line-height: 2.6rem;
}

.tagline span{
    font-family: "Source Serif 4", serif;
    font-weight: 600;
    font-style: italic;
}

.logo{
    margin-bottom: 13px;
}

.logo img{
    width: 92px;
    height: 90px;
}

/* General Aptitude */

.content-box{
    background-color: #1E1E1E;
    border-radius: 20px;
    padding: 25px;

    display: flex;
}

.box-image img{
    width: 230px;
}

.all-content{
    color: #FFF4DE;
    padding-top: 25px;
}

.content-info{
    margin-top: 10px;
}

.content-title span{
    font-size: 25px;
    font-weight: 600;
}

.content-info p{
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
}

.showmore{
    margin-top: 53px;
    display: flex;
    justify-content: end;
}

.showmore button{
    color: #FFF4DE;
    border: none;
    border-radius: 10px;
    background: #CC4F40;
    padding:5px 10px 5px 25px;
    font-size: 20px;
    font-weight: 500;
    transition: background-color .2s,box-shadow .2s;
    display: flex;
    align-items: center;
    gap: 40px;
}

.showmore button i{
    transform: rotate(-45deg);
    transition: transform ease .2s;
}

.showmore button:hover{
    background-color: transparent !important;
    /* box-shadow: none !important; */
    box-shadow: 0 0 5px #CC4F40;
}

.showmore button:hover i{
    transform: rotate(0deg);
}

/* .showmore button:focus,.showmore button:active{
    background-color: transparent !important;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
} */