
.desc-btn button{
    background-color: #382F26;
    color: #FFEFCD;
    font-size: 20px;
    
}
.desc-btn button:hover{
    color: #382F26;
    background-color: #FFEFCD;
}
.linkline,.titllink{
    text-decoration: none;
}

.title-name img{
    width: 190px;
    /* height: 48px; */
}

.desc-btn span{
    font-size: 18px;
    font-weight: 500;
}

.linkline button{
    font-size: 17px;
    font-weight: 500;
}

