.user-popup-container {
    position: fixed;
    top: 4.5rem;
    right: 1.5rem;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    
}

.user-popup {
    /* width: 300px; */ /* Adjust as needed */
    height: 80vh;
    background-color: #111520;
    color: white;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #444;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    border-radius: 25px;
}
