
.modal-content{
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 20px;
    padding: 15px;
    color: #FFF4DE;
}


.modal-header{
    background-color: #1E1E1E;
    border: none;
    border-radius: 15px;
    padding: 14px;
}

.modal-title{
    font-size: 20px;
    font-weight: 600;
}

.modal-body{
    background-color: #1E1E1E;
    border-radius: 20px;
    padding: 14px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.modal-menu{
    display: flex;
    justify-content: space-between;
}

.modal-menu span{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}


.btn{
    background-color: #CC4F40;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
}

.btn:hover{
    background-color: transparent;
    /* font-weight: 600; */
    box-shadow: 0 0 5px #CC4F40;
}

.btn:focus,.btn:active{
    background-color: transparent !important;
    /* box-shadow: none !important; */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}


