
.examPage{
    padding-inline: 170px;
    position: relative;
}

.back-btn button{
    border: none;
    border-radius: 8px;
    background-color: #1E1E1E;
    color: #FFF4DE;
    position: fixed;
    left: 2rem;
    top: 2rem;
}

.back-btn button i{
    transform: rotate(180deg);
}

.examHead{
    border: .5px solid #A4A4A4;
    border-radius: 20px;
    padding: 15px;
}

.examName span{
    font-size: 35px;
    font-weight: 700;
    color: #CC4F40;
}

.totQns span, .passMarks span{
    font-size: 20px;
    font-weight: 400;
    /* color: #1E1E1E; */
}

.tot-pass img{
    width: 223px;
    height: 48px;
}

.timeRemaining{
    border: .5px solid #A4A4A4;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.timeRemaining .time-num{
    font-weight: 600;
    font-size: 30px;
    color: #167900;
}

.timeRemaining .time-rem{
    font-size: 11px;
    font-weight: 500;
}

/* Exam Body */
.exambody{
    border: .5px solid #A4A4A4;
    border-radius: 20px;
    padding:25px;

    font-family: "Podkova", serif;
}

.qstn span{
    font-size: 20px;
    font-weight: 700;
}

.qstn p{
    font-size: 20px;
    font-weight: 400;
}

.submit-btn{
    border: none;
    border-radius: 8px;
    background-color: #CC4F40;
    color: #FFF4DE;
    font-size: 18px;
}

/* Options */

/* .options{
    display: flex;
    gap: 230px;
} */

.leftside,.rightside{
    display: flex;
    flex-direction: column;
    gap: 25px; /* Space between options */
}

.option {
    display: flex;
    align-items: center;
    gap: 15px;
}

.radio-input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 5px solid #ccc;
    border-radius: 50%;
    margin-right: 1px;
    cursor: pointer;
    position: relative;
}

.radio-input:checked {
    background-color: #ffffff;
    border-color: rgba(0, 0, 255, 0.723);
}

.radio-input:checked::before {
    /* content: ""; */
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    /* position: absolute; */
    top: 6px;
    left: 6px;
}

.option-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
}

.circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 2px solid #1E1E1E;
    border-radius: 50%;
    margin-right: 8px;
    font-weight: 700;
}

.correct {
    color: green;
    font-weight: bold;
}

.correct span{
    border: 2px solid green;
}

.incorrect span{
    border: 2px solid red
}

.incorrect {
    color: red;
    font-weight: bold;
}

.ansandexplnsn button,.working button{
    border: none;
    background-color: #1E1E1E;
    color: #FFF4DE;
    border-radius: 6.5px;
    padding: 6px 8px;
    font-weight: 500;
    font-family: "Poppins", sans-serif !important;
}

.ansandexplnsn button:hover svg,.working button:hover svg{
    color: #FFD700;
}

.working button{
    border-radius: 6.5px 6.5px 0 0;
}

.working button svg{
    color: #FFD700;
    filter: drop-shadow(0 0 2px #FFD700);
}

.solution-box .collapse{
    border: .5px solid #A4A4A4;
    border-radius: 0px 20px 20px;
    padding: 25px;
}

.sol-answer span{
    font-size: 20px;
    font-weight: 700;
}

.sol-explanation span{
    font-size: 17px;
    font-weight: 500;
}
