body {
  background-color: #FFFBF3 !important;  /* Important for making changes forcefully */
  color: #000 !important;
  font-family: "Poppins", sans-serif !important;
  padding: 15px 30px 0px;
}

/* .footer{
  
} */
